/*------------------------ESPECIALIDADES----------------------*/
.main-especialidad {
    .encabezado {
        background-color: map-get($colores, "border");
        box-shadow: 5px 5px 5px #1b1b1a9c;
        padding: 8px;
        margin: 40px 10px 30px 10px;

        h2,
        h5 {
            margin: 20px;
            color: map-get($colores, "letras");
            padding: 5px;
            text-align: center;
        }
    }

    .rama-esp {
        @include flex (row, space-evenly, center);
        margin: 15px;

        li {
            color: map-get($colores, "letras");
            list-style: none;
            padding: 8px;

            &:hover {
                font-weight: 700;
            }
        }

        .grid-dc {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "imagen1 imagen2 imagen3"
                "imagen4 imagen5 imagen6"
            ;
            @include grid;

            .imagendc {
                @include imagen-esp;
            }

            .imagen1 {
                grid-area: imagen1;
                background-image: url(../recursos/rsz_acne.jpg)
            }

            .imagen2 {
                grid-area: imagen2;
                background-image: url(../recursos/rsz_micosis.jpg)
            }

            .imagen3 {
                grid-area: imagen3;
                background-image: url(../recursos/rsz_psoriasis.jpg)
            }

            .imagen4 {
                grid-area: imagen4;
                background-image: url(../recursos/rsz_alopecia.jpg)
            }

            .imagen5 {
                grid-area: imagen5;
                background-image: url(../recursos/rsz_lunar.jpg)
            }

            .imagen6 {
                grid-area: imagen6;
                background-image: url(../recursos/rsz_melanoma.jpg)
            }
        }

        .grid-de {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "imagen7 imagen8 imagen9"
                "imagen10 imagen11 imagen12"
            ;
            @include grid;

            .imagendc {
                @include imagen-esp;
            }

            .imagen7 {
                grid-area: imagen7;
                background-image: url(../recursos/peeling-fac.jfif)
            }

            .imagen8 {
                grid-area: imagen8;
                background-image: url(../recursos/btx.jpg)
            }

            .imagen9 {
                grid-area: imagen9;
                background-image: url(../recursos/arm-fac.jpg)
            }

            .imagen10 {
                grid-area: imagen10;
                background-image: url(../recursos/labios.jpg)
            }

            .imagen11 {
                grid-area: imagen11;
                background-image: url(../recursos/abdo.jpg)
            }

            .imagen12 {
                grid-area: imagen12;
                background-image: url(../recursos/tres-2.jpg)
            }
        }
    }
}