/*----------------MQ-----------------*/
@media (max-width:768px) {
    header {

        nav ul {
            flex-direction: column;
            font-size: 12px;

            li {
                padding: 6px;
            }
        }
    }

    footer {
        flex-direction: column;
        justify-content: center;

        div {
            flex-direction: row;
            align-items: baseline;

            .icono {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media(max-width: 500px) {

    .presentacion {

        margin-top: 80px;

        h1 {
            font-size: 19px;
            padding: 15px;
        }

        h3,
        p {
            font-size: 17px;
        }
    }

    .main-trayectoria {

        h1 {
            font-size: 19px;
            padding: 15px;
        }

        section {
            flex-direction: column;

            #doctorcita {
                width: 220px;
                height: 280px;
            }
        }
    }

    .main-especialidad {
        h1 {
            font-size: 19px;
        }

        .encabezado {
            margin: 10px;
            width: auto;

            h2 {
                font-size: 17px;
            }

            h5 {
                font-size: 16px;
            }
        }

        .rama-esp {
            flex-direction: column;

            .grid-dc,
            .grid-de {
                flex-direction: column;
                height: 300px;
            }
        }
    }

    .h1-pro {
        font-size: 19px;
    }

    .card-body {

        h5,
        a {
            font-size: 16px;
        }
    }

    .main-contacto {
        h1 {
            font-size: 19px;
        }

        .seccion-contacto {
            .caja {
                border: solid 5px #cab38593;
                width: 250px;
                height: 350px;

                h3 {
                    font-size: 16px;
                }

                p {
                    font-size: 14px;
                }

                input {
                    min-width: 215px;
                    padding: 0;
                }

                textarea {
                    width: 216px;
                    height: 150px;
                }

                iframe {
                    margin-left: 5px;
                    width: 250px;
                    height: 200px;
                }
            }
        }
    }
}