header {
    min-height: 15vh;
    background-image: $gradiente-1;
    @include flex(row, space-between, center);

    nav ul {
        list-style: none;
        display: flex;

        .activo {
            font-weight: 600;
            border-radius: 3px;
            box-shadow: 1px 2px 8px#3d3b3b81;
            padding: 3px;
        }

        a {
            color: map-get($colores, "letras");
            text-decoration: none;
            padding: 0 15px;
            margin: 8px;

            &:hover {
                font-weight: 700;
            }

        }
    }

    .logo {
        width: 80px;
        height: 80px;
        margin: 10px;
        transition: 0.2s;

        &:hover {
            transition: 0.3s;
            scale: 1.1;
            box-shadow: 3px 3px 8px #807777;

        }
    }

    .logo-act {
        box-shadow: 3px 3px 8px #807777;
    }
}



main {
    min-height: 70vh;

    h1 {
        color: map-get($colores, "letras");
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        text-shadow: 3px 1px 2px #3b3939;
        padding: 30px;
    }
}

footer {
    min-height: 15vh;
    background-image: $gradiente-2;
    color: map-get($colores, "letras");
    font-size: 14px;
    @include flex(row, space-around, center);
    flex-wrap: wrap;

    div {
        @include flex(column, null, center);

        p {
            &:hover {
                font-weight: 600;
                scale: 1.05;
            }
        }

        .icono {
            width: 30px;
            height: 30px;

            &:hover {
                scale: 1.2;
            }
        }
    }
}